<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/reset.css"/>
    <link rel="stylesheet" href="/static/style.css"/>
</head>
<body>
<div class="navbar">
    <div class="branding">
        <h3>{{ siteName }}</h3>
    </div>
    <div class="menu-items">
        <a class="menu-item" href="/">Home</a>
        <a class="menu-item" href="/about">About</a>
        <a class="menu-item" href="/contact">Contact</a>

    </div>
</div>
<div class="content">